* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  padding: 4px 14px;
}

body {
  text-align: center;
}
table#table {
  margin-left: auto;
  margin-right: auto;
}

#countdown {
  background-color: #883333;
  border-top: 1px solid #000333;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-top: 10px;
  text-align: center;
  display: block;
}

#toggle {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 5px;
}

#status {
  color: #883333;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0;
  padding-top: 10px;
  font-size: 11px;
  transition: all 0.1s ease;
}


#container {
  background-color: #333;
  min-width: 150px;
  display: block;
}

#table {
  align-content: center;
  align-items: center;
  align-self: center;
}

#btcbal {
  background-color: #883333;
  border-top: 1px solid #000333;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-top: 10px;
  text-align: center;
  display:  block;
}

#rpbal {
  background-color: #883333;
  border-top: 1px solid #000333;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-top: 10px;
  text-align: center;
  display:  block; 
}

#btcclaimed {
  background-color: #883333;
  border-top: 1px solid #000333;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-top: 10px;
  text-align: center;
  display:  block;
  
}
#rpclaimed {
  background-color: #883333;
  border-top: 1px solid #000333;;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-top: 10px;
  text-align: center;
  display: block;    
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

input:checked + .slider {
  background-color: #883333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #883333;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
